<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/logo/d_for_data.ico" type="image/x-icon">
    <title>Visual Stocks</title>
</head>
<body class="font-sans bg-white">

    <!-- Header -->
    <header class="fixed flex justify-center items-center w-full top-0 left-0 header text-center p-4 z-50">
        <img src="../static/logo/d_for_data.png" alt="D for Data Logo" class="w-6 h-6 absolute left-0">
        <div class="flex gap-4">
            <a href="#hero" class="text-white text-xs mx-2">Home</a>
            <a href="#tesla" class="text-white text-xs mx-2">V°5 Dash</a>
            <a href="#contact" class="text-white text-xs mx-2">Contact</a>
            <a href="#footer" class="text-white text-xs mx-2">Footer</a>
        </div>
    </header>
    

    <div class="w-full flex flex-col gap-2">

        <!-- Hero Banner -->
        <section id="hero" class="w-full banner-height bg-black relative">
            <!-- Background Image with Dark Overlay -->
            <div class="z-1 w-full h-full flex justify-center items-center absolute bottom-0">
                <img src="https://images.unsplash.com/photo-1585011650347-c59dbef5a823?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="Hero Image" 
                class="w-3/5 h-1/2 object-cover object-center bottom-0 absolute">
                <div class="bg-black opacity-50 w-full h-full absolute inset-0"></div>
            </div>
        
            <!-- Content Container -->
            <div class="z-2 absolute top-10 w-full flex flex-col items-center justify-center flex flex-col justify-center items-center text-white text-center p-8">
                <!-- Title -->  
                <h1 class="text-6xl md:text-4xl lg:text-7xl font-semibold mb-10">
                    V°5 Dash
                </h1>
                <div class="-mb-10">
                    <!-- Description -->
                    <div class="text-sm mb-8 gap-9">
                        <p>Tesla <span class="text-gray-500">&vert;</span> Sleek <span class="text-gray-500">&vert;</span> Info</p>
                    </div>        
                    
                    <!-- Button (Optional) -->
                    <a href="#tesla" class="text-sm font-semibold border rounded-full px-6 py-2 hover:font-light">
                        TESLA STOCKS
                    </a>
                </div>
            </div>
        </section>
        
        <section id="contact" class="w-full banner-white banner-height relative">
            <!-- Background Image with Dark Overlay -->
            <div class="z-1 w-full h-full flex justify-center items-center absolute bottom-0">
                <img src="https://images.unsplash.com/photo-1494173853739-c21f58b16055?auto=format&fit=crop&q=80&w=1965&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="Hero Image" 
                class="w-3/5 h-3/5 object-cover object-center bottom-0 absolute">
            </div>
            
            <!-- Content Container -->
            <div class="z-2 absolute top-10 w-full flex flex-col items-center justify-center flex flex-col justify-center items-center text-black text-center pt-1">
                <!-- Title -->
                <h1 class="text-6xl md:text-4xl lg:text-7xl font-semibold mb-10">
                    Clean Dashboard
                </h1>
                <div class="-mb-10">
                    <!-- Description -->
                    <div class="text-sm mb-8 gap-9">
                        <p>Clean <span class="text-gray-500">&vert;</span> Modern <span class="text-gray-500">&vert;</span> Touché</p>
                    </div>        
                    
                    <!-- Button (Optional) -->
                    <a href="mailto:jamphelyigzins15@gmail.com" class="text-sm font-semibold border rounded-full px-6 py-2 hover:font-light">
                        CONTACT US
                    </a>                    
                </div>
            </div>
        </section>
    </div>


    <!-- Main Content -->
    <section id="tesla" class="w-full mt-2 bg-white">
        <h2 class="lg:text-7xl md:text-4xl text-2xl font-semibold py-8 pt-16 mt-4 text-center">V°5 Dash</h2>
        <div class="mb-10 w-full text-center">
            <!-- Description -->
            <div class="text-sm mb-8 gap-9">
                <p>Tesla <span class="text-gray-500">&vert;</span> Stocks <span class="text-gray-500">&vert;</span> Data</p>
            </div>        
            
            <!-- Button (Optional) -->
            <a href="https://www.tesla.com" class="text-sm font-semibold border rounded-full px-6 py-2 hover:font-light">
                TESLA.COM
            </a>                    
        </div>
        <p class="text-sm text-start px-44 text-gray-500 mb-10">The content presented here is solely intended for project purposes, and we 
            want to emphasize that we do not claim ownership of this data. 
            Our objective is to work collaboratively on this information, which has been 
            collected from various sources available on the internet. A group of dedicated 
            students has come together to explore and analyze this data, with the aim of gaining 
            valuable insights and contributing to the broader body of knowledge. Our work is grounded 
            in research and educational pursuits, and we acknowledge and respect the sources from which 
            this data has been obtained.
        </p>
        <div class="flex justify-start items-start w-full p-4 gap-2">
            <!-- New div for Total Volume Line Chart -->
            <div class="bg-cream p-6 rounded-lg w-full relative text-center">
                <h2 class="text-xl font-semibold">Total Volume of Stocks Traded</h2>
                <div id="stock-volume-chart" class="w-full"></div>
                <!-- Filter Buttons -->
                <div class=''>
                    <div class="flex justify-center items-center mt-4 gap-10">
                        <button id="allChartButton" class='text-gray-400 hover:text-black' onclick="toggleCharts('all')">All</button>
                        <button id="5dChartButton" class='text-gray-400 hover:text-black' onclick="toggleCharts('5d')">5d</button>
                        <button id="6mChartButton" class='text-gray-400 hover:text-black' onclick="toggleCharts('6m')">6m</button>
                        <button id="1yChartButton" class='text-gray-400 hover:text-black' onclick="toggleCharts('1y')">1y</button>
                        <button id="5yChartButton" class='text-gray-400 hover:text-black' onclick="toggleCharts('5y')">5y</button>
                    </div>
                </div>
            </div>

            <!-- New div for Pie Chart -->
            <div class="bg-cream p-6 rounded-lg w-full">
                <h2 class="text-xl font-semibold text-center">Time Series Influence on Total Volume Trade by Month</h2>
                <div id="pie-chart" class="w-full"></div>
            </div>
        </div>
        <div class="flex justify-start items-start w-full p-4 gap-2">
            <!-- New div for Max Volume by Day of the Week Bar Chart -->
            <div class="bg-cream p-6 rounded-lg w-full relative text-center">
                <h2 class="text-xl font-semibold">Max Volume by Day of the Week</h2>
                <div id="max-volume-by-day-chart" class="w-full"></div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer" class="bg-black h-screen w-full text-white text-center py-4 mt-4 flex flex-col justify-center items-center">
        <div class="mx-auto h-full flex flex-col justify-center items-center">
            <h1 class="text-6xl md:text-4xl lg:text-7xl font-semibold mb-20">
                Visual Stocks
            </h1>
            <div class="flex justify-center items-center mb-4 relative">
                <input type="email" placeholder="Enter your email" class="border border-white bg-transparent text-white px-4 pr-12 py-2 rounded-full w-96" />
                <button class="yellow_color font-light hover:opacity-75 px-4 py-2 rounded-md absolute right-3 text-xs">Subscribe</button>
            </div>
            <p class="text-xs">Join our newsletter and stay informed about Tesla's latest news and products.</p>
        </div>
        <div class="mx-auto text-xs font-light mt-10 justify-self-end">
            <p>&copy; 2023 Visual Stocks</p>
        </div>
    </footer>     

    <!-- Sample JavaScript for Chart (Replace with your own data and charting library) -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Parse the JSON data passed from Flask for Total Volume
        var graphVolumeJSON = {{ graphVolumeJSON | safe }};
        
        // Parse the JSON data passed from Flask for Stock Price
        var graphStockJSON = {{ graphStockJSON | safe }};

        // Parse the JSON data passed from Flask for Stock Price of 6 months
        var graph6mJSON = {{ graph6mJSON | safe }};

        // Parse the JSON data passed from Flask for Stock Price of 1 year
        var graph1yJSON = {{ graph1yJSON | safe }};

        // Parse the JSON data passed from Flask for Stock Price of 5 years
        var graph5yJSON = {{ graph5yJSON | safe }};

        // Parse the JSON data passed from Flask for Max Volume by Day of the Week
        var graphMaxVolumeByDayJSON = {{ graphMaxVolumeByDayJSON | safe }};
        
       // Update the layout for responsiveness and set transparent background
    var layoutVolume = {
        responsive: true,
        autosize: true,
        margin: {
            l: 50,
            r: 50,
            b: 50,
            t: 50,
            pad: 4
        },
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)'
    };

    var layoutStock = {
        responsive: true,
        autosize: true,
        margin: {
            l: 50,
            r: 50,
            b: 50,
            t: 50,
            pad: 4
        },
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)'
    };

    var layout6m = {
        responsive: true,
        autosize: true,
        margin: {
            l: 50,
            r: 50,
            b: 50,
            t: 50,
            pad: 4
        },
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)'
    };

    var layout1y = {
        responsive: true,
        autosize: true,
        margin: {
            l: 50,
            r: 50,
            b: 50,
            t: 50,
            pad: 4
        },
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)'
    };

    var layout5y = {
        responsive: true,
        autosize: true,
        margin: {
            l: 50,
            r: 50,
            b: 50,
            t: 50,
            pad: 4
        },
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)'
    };
    
    var layoutMaxVolumeByDay = {
        responsive: true,
        autosize: true,
        margin: {
            l: 50,
            r: 50,
            b: 50,
            t: 50,
            pad: 4
        },
        plot_bgcolor: 'rgba(0, 0, 0, 0)',
        paper_bgcolor: 'rgba(0, 0, 0, 0)'
    };

        // Function to toggle between the two charts
        function toggleCharts(current) {
            var volumeChartDiv = document.getElementById('stock-volume-chart');
            
            var buttonIds = ['allChartButton', '5dChartButton', '6mChartButton', '1yChartButton', '5yChartButton'];
        
            // Remove 'text-black' class and add 'text-gray-400' class for all buttons
            buttonIds.forEach(function(buttonId) {
                var button = document.getElementById(buttonId);
                button.classList.remove('text-black');
                button.classList.add('text-gray-400');
            });
        
            // Set 'text-black' class and remove 'text-gray-400' class for the current button
            var currentButton = document.getElementById(current + 'ChartButton');
            currentButton.classList.add('text-black');
            currentButton.classList.remove('text-gray-400');
        
            if (current === 'all') {
                Plotly.newPlot('stock-volume-chart', graphVolumeJSON, layoutVolume);
            } else if (current === '5d') {
                Plotly.newPlot('stock-volume-chart', graphStockJSON, layoutStock);
            } else if (current === '6m') {
                Plotly.newPlot('stock-volume-chart', graph6mJSON, layout6m);
            } else if (current === '1y') {
                // Add code to render the 1-year chart
                Plotly.newPlot('stock-volume-chart', graph1yJSON, layout1y);
            } else if (current === '5y') {
                // Add code to render the 5-year chart
                Plotly.newPlot('stock-volume-chart', graph5yJSON, layout5y);
            }
        }        
         

        // Initial rendering of Total Volume chart
        Plotly.newPlot('stock-volume-chart', graphVolumeJSON, layoutVolume);

    </script>

    <script>
        // Parse the JSON data passed from Flask for Pie Chart
        var graphPieJSON = {{ graphPieJSON | safe }};
    
        // Update the layout for responsiveness
        var layoutPie = {
            responsive: true,
            autosize: true,
            margin: {
                l: 50,
                r: 50,
                b: 50,
                t: 50,
                pad: 4
            },
        };
    
        // Render the Plotly chart for the pie chart
        Plotly.newPlot('pie-chart', graphPieJSON, layoutPie);
    </script>

    <script>
        // Parse the JSON data passed from Flask for Max Volume by Day of the Week
        var graphMaxVolumeByDayJSON = {{ graphMaxVolumeByDayJSON | safe }};
        
        // Update the layout for responsiveness
        var layoutMaxVolumeByDay = {
            responsive: true,
            autosize: true,
            margin: {
                l: 50,
                r: 50,
                b: 50,
                t: 50,
                pad: 4
            },
        };

        console.log('Data for Max Volume by Day of the Week:', graphMaxVolumeByDayJSON);
    
        // Render the Plotly chart for Max Volume by Day of the Week
        Plotly.newPlot('max-volume-by-day-chart', graphMaxVolumeByDayJSON, layoutMaxVolumeByDay);
    </script>

</body>
</html>
